@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'NeueHaasUnica';
    src: url('/assets/fonts/NeueHaasUnicaPro-Thin.ttf') format('truetype');
    font-weight: 100;
}

@font-face {
    font-family: 'NeueHaasUnica';
    src: url('/assets/fonts/NeueHaasUnicaPro-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'NeueHaasUnica';
    src: url('/assets/fonts/NeueHaasUnicaPro-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'NeueHaasUnica';
    src: url('/assets/fonts/NeueHaasUnicaPro-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'NeueHaasUnica';
    src: url('/assets/fonts/NeueHaasUnicaPro-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'NeueHaasUnica';
    src: url('/assets/fonts/NeueHaasUnicaPro-Black.ttf') format('truetype');
    font-weight: 900;
}